/* Configuracoes Gerais */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    max-width: 100%;
    overflow-x: hidden;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Body */
body {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.input {
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    box-shadow: 1px 2px rgba(128, 128, 128, 0.281);
    padding: 15px 10px;
    margin: 1px;
}

.input:hover {
    border-radius: 20px;
    border: 1px solid #F6A11D;
    background-color: #FFF;
    margin: 0;
}

.input:focus {
    outline-color: #F6A11D;
    border-color: #F6A11D;
}

/* Mensagens de aviso nas telas de cadastro e entrar. */

.erro_msg {
    padding-top: 15px;
    color: red;
}

.sucesso_msg {
    padding-top: 15px;
    color: green;
}

@media screen and (max-width: 800px) {
    * {
        font-size: 14px;
    }
}
