#produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    max-height: 76vh;
    overflow-y: auto;
    gap: 75px
}

.produto {
    min-width: 250px;
    min-height: 320px;
}

.produto p {
    text-align: center;
}

.produto_img {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    background-size: cover;
}

.produto_button {
    background-color: #8E1321;
    border-radius: 12px;
    margin-top: 10px;
    min-width: 100%;
    min-height: 55px;
    color: #FFF;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.produto_button:active {
    border: none;
}

#add_button {
    background-image: url("../img/botao_add.svg");
    background-size: cover;
    background-position: center;
    min-width: 250px;
    min-height: 250px;
}
