<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- DashboardServlet -->

    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.example.servlets.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <!-- ExcluirProdutoServlet -->

    <servlet>
        <servlet-name>excluir-produto</servlet-name>
        <servlet-class>com.example.servlets.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>excluir-produto</servlet-name>
        <url-pattern>/excluir</url-pattern>
    </servlet-mapping>

    <!-- DetalhePedidoServlet -->

    <servlet>
        <servlet-name>detalhe-pedido</servlet-name>
        <servlet-class>com.example.servlets.DetalhesPedidoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detalhe-pedido</servlet-name>
        <url-pattern>/detalhe</url-pattern>
    </servlet-mapping>

    <!-- CadastrarProdutoServlet -->

    <servlet>
        <servlet-name>cadastrar-produto</servlet-name>
        <servlet-class>com.example.servlets.CadastroProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastrar-produto</servlet-name>
        <url-pattern>/cadastrar_produto</url-pattern>
    </servlet-mapping>

    <!-- DetalhePedidoServlet -->

    <servlet>
        <servlet-name>pedidos</servlet-name>
        <servlet-class>com.example.servlets.PedidosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pedidos</servlet-name>
        <url-pattern>/pedidos</url-pattern>
    </servlet-mapping>

</web-app>
